* {
    font-size: 17px;
    box-sizing: border-box;
  }
  
  body {
    //background-color: #17181c;
    color:rgb(238, 34, 34);
    font-family: Helvetica, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  a {
    text-decoration: none;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }