.header {
    padding: 20px;
    width: 100%;
    display: flex;
    background-image: "https://assets.nflxext.com/ffe/siteui/vlv3/8ef88e03-6f89-4c75-ae51-f8da7d252358/a5dd5aae-2ced-4b1d-8574-7861167c2c98/RU-ru-20210208-popsignuptwoweeks-perspective_alpha_website_small.jpg";

  }
  
  .title {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 40px;
    text-shadow: 1px 5px 20px rgba(255, 255, 255, .4);
  }