.search-movie__addBtn{
    float: right;
    background-color: rgb(100, 98, 98);
    color: rgba(245, 88, 88, 0.897);
    font-weight: bold;
    padding-bottom: 5px;
    height: 50px;
    width: 180px;
    opacity: 0.8;
}

