.form{
    padding: 20px 30px;
    margin-bottom: 30px;

    input {
        &[type='text'] {
            padding: 10px 2px;
            width: 90%;
            color:#7488ab;
            padding: 15px;
            border: 2px solid;
            transition-duration: .5s;
            margin: 10px auto 20px;
            border-radius: 1ch;
        }
        &[type='submit'] {
            color: #fff;
            padding: 15px;
            border: 2px solid;
            transition-duration: .5s;
            background-color: rgb(253, 16, 16);
            margin: 10px auto 20px;
            border-radius: 1ch;
        &:hover,
        &:active,
        &:focus {
            //border-color: #fff;
            box-shadow: 0 .5em .5em -.4em #fff;
            }
        }
    }
}

.findMovieText
{
    margin: 20px 0px;
    color: #fff;
    font-size: 40px;
}